<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <applicationSettings>
    <environment>
      <add key="SitecoreUrl" value="https://town21edit.danskespil.dk/sitecore/"/>
      <add key="TestSiteUrl" value="https://town21.danskespil.dk"/>
      <add key="TestSiteUrl" value="..\..\..\..\..\Foundation\WebDrivers\bin\net461"/>
    </environment>
  </applicationSettings>
  </configuration>