<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SitecoreUrl" value="https://town21edit.danskespil.dk/sitecore/"/>
    <add key="SiteUrl" value="https://www.danskespil.dk"/>
    <add key="WebDriversPath" value="..\..\..\..\Foundation\UserInterfaceDriver\bin\Debug"/>
  </appSettings>
</configuration>